body{
    background-color: rgb(31, 36, 35);
    color: azure;
    letter-spacing: 0.3px;
}

nav{
    background-color: rgb(47, 76, 71);
    padding: 5px;
    border-radius: 5px;
}

.banner{
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.header {
    padding: 0;
    margin: 0;
    border: 0;
}

header ul li {
    background-color:black;
}

.logo {
    padding: 10px;
    margin: 10px;
}