* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #2e2e2e;
}

li, a, button {
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #333; 
}

.logo {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    color: #ccc; /* Link color */
    text-decoration: none;
    padding: 5px 10px; /* Add padding inside the borders */
    border: 1px solid transparent; /* Add a border, initially invisible */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    border-radius: 5px; /* Optional: Rounded corners */
}

.nav_links li a:hover {
    border-color: #d3d3d3; 
    color: #2094c9; 
}

.nav {
    transition: all 0.3s ease 0s;
}

button {
    padding: 9px 25px;
    background-color: #555; 
    color: #ccc; 
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2094c9; 
}